# Database connection string (PostgreSQL)
# Example format: postgresql://postgres:<your-password>@localhost:5432/korean_zero?schema=public
DATABASE_URL=""
POSTGRES_PASSWORD=""

# Next.js Server Port
PORT=3000

# Node Environment
NODE_ENV="development"

# Better Auth Configuration
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:3000"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
